<div class="container" style="min-height: 550px;">
<h1><%= @rooms.size %> results</h1>

<% if @rooms %>
  <ul>
    <% @rooms.each do |room| %>
      <li>
        <h3>
          <%= link_to room.title, room_path(room.id) %>
        </h3>
        <p><%= room.price %></p>
      </li>
    <% end %>
  </ul>
<% else %>
  <p>Your search did not match any documents.</p>
<% end %>
</div>
