<% room.comments.each do |comment| %>
  <div class="mb-2">
    <span><strong><%= comment.user.name %></strong></span>
    <span><%= comment.content %></span>
    <% if comment.user == current_user %>
      <%= link_to "Delete comment", comment_path(comment), method: :delete, remote: true, class: "core-sprite delete-comment hide-text" %>
    <% end %>
  </div>
<% end %>
