@import "bootstrap";
@import "toastr";

.room-title {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  padding-top: 10px;
}

.room-price {
  font-size: 20px;
  color: red;
}

.room-info {
  font-size: 12px;
}

.room-like {
  position: absolute;
  right: 30px;
  bottom: 10px;
}

.img-responsive{
  width: 450px;
  max-width: 450px;
  height: 400px;
  max-height: 400px;
}

.dropdown-divider {
  border-top: 1px solid #ccc;
}

.custom-list-style{
  .blue-style {
    li::before {
      color: #3acaaa !important;
    }
  }
}

.profile-wrapper {
  padding: 60px 0;
  border-bottom: 1px solid #efefef;

  .username {
    font-size: 32px;
    line-height: 40px;
    font-weight: 200;
  }

  .email {
    font-size:16px;
    font-weight:  bold;
  }
}

.round-img {
  border-radius: 50%;
}

.common-btn {
  height: 28px;
  line-height: 24px;
  padding: 0 24px;
  border-color: #dbdbdb;
  font-size: 14px;
}

.edit-profile-btn {
  margin: 5px 0 0 15px;
  font-weight: bold;
}


.edit-profile-wrapper {
  margin: 60px 0 0;

  .left-col {
    border: 1px solid #dbdbdb;
    padding: 0;
    background-color: white;

    .list-group-item {
      border: none;
      color: #262626;
      border-radius: 0;
      font-size: 16px;
      border-left: 2px solid transparent;
    }

    .list-group-item:first-child {
      font-weight: bold;
      border-left-color: #262626;
    }

    .list-group-item:not(:first-child):hover {
      border-left-color: #dbdbdb;
    }
  }

  .right-col {
    border: 1px solid #dbdbdb;
    border-left: none;
    background-color: white;

    .username-img {
      margin: 32px 0;

      .col-sm-9 {
        font-size: 20px;
        font-weight: 400;
        line-height: 20px;
      }

      .form-group {
        font-size: 16px;
      }
    }
  }
}
